@using DataAccessLayer.Models
@model List<Book>

<a class=" btn btn-primary" asp-action="AddBook"> Add Book </a>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Book ID</th>
                <th> Book Name</th>
                <th> Author</th>
                <th> Book Genre</th>
                <th> Publisher</th>
                <th> Publish Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Author</td>
                    <td>@item.Genre</td>
                    <td>@item.Publisher</td>
                    <td>@item.PublishDate</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>